body{
  background-color: white;
  font-size: 3%;
  min-height: 100vh;
  z-index: 100;
}
#myCanvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
#backCanvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
